---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hi there!</h1>
			<p>
				This is the start of my Blog. I will be making updates to this blog in the coming weeks.
				Stay tuned for more content!
			</p>
			<p>
				The general idea is to hace a collection of articles that I can use as reference for my work and to showcase my skills.
				You can also use this blog as a reference for your own projects.
				Feel free to copy and paste any code you find useful.
			</p>
			<p>I will be covering things like:</p>
			<ul>
				<li>Programming Languages</li>
				<li>Software architecture</li>
				<li>Algorithms</li>
				<li>etc...</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
